<body style="margin-top:113px;">
    <section class="about-us">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="title">About Us</h1>
            <p class="description">
                Chào mừng bạn đến với quán cà phê ấm cúng của chúng tôi, nơi chúng tôi phục vụ cà phê tốt nhất trong thị trấn. Nhiệm vụ của chúng tôi là cung cấp một không gian thoải mái cho mọi người thư giãn, làm việc và thưởng thức cà phê tuyệt vời. Hãy đến thăm chúng tôi và trải nghiệm sự ấm áp và thân thiện của nhân viên của chúng tôi.
            </p>
            <p class="description">
                Chúng tôi lấy hạt cà phê từ các trang trại tốt nhất trên thế giới, đảm bảo rằng mỗi tách cà phê là một sự pha trộn hoàn hảo của hương vị phong phú và kết cấu mịn. Nhân viên pha chế của chúng tôi đam mê cà phê và luôn sẵn sàng tạo ra những tách cà phê hoàn hảo dành riêng cho bạn.
            </p>
            <p class="description">
                Ngoài cà phê đặc biệt của chúng tôi, chúng tôi cung cấp nhiều loại bánh ngọt và đồ ăn nhẹ ngon, tất cả đều được làm bằng nguyên liệu chất lượng cao. Cho dù bạn ở đây để nghỉ giải lao nhanh hay một buổi chiều nhàn nhã, quán cà phê của chúng tôi là nơi hoàn hảo để thư giãn.
            </p>
            <a asp-action="Index" class="button">Đến Menu</a>
        </div>
    </section>
</body>
