
<div class="container-home">
    <div class="slider">
        <div class="slideshow-container">
            <div class="slide">
                <img src="/Image/slide1.jpg" alt="Image 1">
            </div>
            <div class="slide">
                <img src="/Image/slide2.jpg" alt="Image 2">
            </div>
            <div class="slide">
                <img src="/Image/background.jpg" alt="Image 3">
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="mid">
        <div class="mid-img"><img style="height:530px" src="/Image/midimg.jpg" alt="Alternate Text" /> </div>
        <div class="mid-content">
            <div class="content-headline">TỪ NHỮNG MẦM TRÀ, CHÚNG TÔI TẠO RA NIỀM ĐAM MÊ</div>
            <div class="content-content">
                Trải qua hơn 50 năm chắt chiu tinh hoa từ những búp trà xanh và hạt cà phê thượng hạng cùng mong muốn mang lại cho khách hàng những trải nghiệm giá trị 
                nhất khi thưởng thức Cafe 9:53 liên tục là thương hiệu tiên phong với nhiều ý tưởng sáng tạo đi đầu trong ngành trà và cà phê.
                Chúng tôi tin rằng từng sản phẩm trà và cà phê sẽ càng thêm hảo hạng khi được tạo ra từ sự phấn đấu không ngừng cùng niềm đam mê.
                Và chính kết nối dựa trên niềm tin, sự trung thực và tin yêu sẽ góp phần mang đến những nét đẹp trong văn hóa thưởng trà và cà phê ngày càng bay cao, vươn xa.
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="foot">
        <div class="overlay"> 
            <div class="foot-content">
                <div class="contentt-headline">ĐỘI NGŨ NHÂN VIÊN TRÀN ĐẦY NHIỆT HUYẾT</div>
                <div class="contentt-content">
                Trong suốt quá trình hoạt động và phát triển, đội ngũ quản lý và nhân viên của Cafe 9:53, qua bao thế hệ, đã cùng nhau xây dựng, nuôi dưỡng niềm đam mê dành cho trà và cà phê với mong muốn được thử thách bản thân trong ngành dịch vụ năng động và sáng tạo.
                </div>
             </div
        </div>
    </div>
</div>
